@model IEnumerable<BeuntechSite.Models.Projeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-dark">Projeler</h3>

<p>
    @Html.ActionLink("Yeni Proje Oluştur", "Create")
</p>
<table class="table table-striped" id="myTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResimURL)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
          @Html.Raw(item.Aciklama)
        </td>
        <td>
            <img src="@item.ResimURL" width="150" height="150" class="img-responsive"/>
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.ProjeID }) |
            @Html.ActionLink("Detay", "Details", new { id=item.ProjeID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.ProjeID })
        </td>
    </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>