@using BeuntechSite.Models
@model Iletisim

@{
    Layout = null;
}

<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2>İletişim</h2>
            
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">

                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>@Html.DisplayNameFor(model => model.Adres)</h4>
                        <p>@Model.Adres</p>
                    </div>

                    <div class="address mt-3">
                        <i class="icofont-envelope"></i>
                        <h4>@Html.DisplayNameFor(model => model.EMail)</h4>
                        <p>@Model.EMail</p>
                    </div>

                    <div class="address mt-3">
                        <i class="icofont-phone"></i>
                        <h4>@Html.DisplayNameFor(model => model.Tel)</h4>
                        <p>@Model.Tel</p>
                    </div>

                    <div class="address mt-3">
                        <i class="icofont-whatsapp"></i>
                        <h4>@Html.DisplayNameFor(model => model.Whatsapp)</h4>
                        <p>@Model.Whatsapp</p>
                    </div>

                    <div class="address mt-3">
                        <i class="icofont-linkedin"></i>
                        <h4>@Html.DisplayNameFor(model => model.LinkedIn)</h4>
                        <a href="https://www.linkedin.com/in/@Model.LinkedIn">
                            <p>@Model.LinkedIn</p>
                        </a>
                    </div>

                    <div class="address mt-3">
                        <i class="icofont-instagram"></i>
                        <h4>@Html.DisplayNameFor(model => model.Instagram)</h4>
                        <a href="http://instagram.com/@Model.Instagram"><p>@Model.Instagram</p></a>
                    </div>

                    <div class="address mt-3">
                        <i class="icofont-facebook"></i>
                        <h4>@Html.DisplayNameFor(model => model.Facebook)</h4>
                        <a href="http://facebook.com/@Model.Facebook"><p>@Model.Facebook</p></a>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                @using (Html.BeginForm("MailGonder", "Home", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "php-email-form" }))
                {


                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="İsminiz" data-rule="minlen:4" data-msg="En az 4 karakter girmelisiniz" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-Mail Adresiniz" data-rule="email" data-msg="Lütfen e-posta adresinizi giriniz" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" data-rule="minlen:4" data-msg="En az 8 karakter girmelisiniz" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Bir şeyler yazmanız gerekiyor" placeholder="Mesajınız"></textarea>
                        <div class="validate"></div>
                    </div>

                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        
                        <div class="sent-message" style="display: none;" id="mesaj">Mesajınız gönderildi ! Size en yakın sürede geri dönüş yapacağız.</div>
                    </div>
                    <div class="text-center"><button class="btn btn-info" type="submit" onclick="mesajGonderildi('mesaj')"><i class="icofont-send-mail">&nbsp;</i>Mesaj Gönder</button></div>

                }
            </div>

        </div>

        <script>
            function mesajGonderildi(id) {
                var secilenId = document.getElementById(id);

                secilenId.style.Display = "";
            }
        </script>
    </div>
</section><!-- End Contact Section -->
