@using BeuntechSite.Models
@model Takim
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" data-aos="fade-up">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2><i>@Model.AdSoyad</i> Hakkında</h2>
               
                <ol>
                    <li><a href="index.html">Anasayfa</a></li>
                    <li>@ViewBag.Title</li>
                    <li>@Model.AdSoyad</li>
                </ol>
            </div>
            <hr class="divider"/>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" data-aos="fade-up" data-aos-delay="100">
        <div class="container">

            <div class="portfolio-details-container">

                <div class="portfolio-details col-md-4">
                    <img src="@Model.ResimURL" class="img-fluid" alt="@Model.AdSoyad + @Model.Aciklama">
                    
                </div>

                <div class="portfolio-info col-md-8">
                    <h3>Hakkında</h3>
                    <ul>
                        <li><strong>Alan</strong>: @Model.UzmanlikAlani</li>
                        <li><strong>Görevi</strong>: @Model.Gorev</li>
                        <li><strong>Bölüm</strong>: @Model.Bolum</li>
                        <li><strong>Telefon</strong>: @Model.Telefon</li>
                        <li><strong>Web Sitesi</strong>: <a href="@Model.Instagram">www.example.com</a></li>
                    </ul>
                </div>

            </div>

            <div class="portfolio-description">
                <h2>@Model.AdSoyad</h2>
                <p>
                    @Model.Aciklama
                </p>
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->