@model IEnumerable<BeuntechSite.Models.Takim>
@foreach(var item in Model) {

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="zoom-in" data-aos-delay="100">
        <div class="member-img">
            <img src="@item.ResimURL" width="600" height="600" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href="http://instagram.com/@item.Instagram" target="_blank"><i class="icofont-instagram"></i></a>
                <a href="http://linkedin.com/in/@item.LinkedIN"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
        <div class="member-info">
            <h4>@item.AdSoyad</h4>
            <span>@item.Gorev</span>
            <p>@item.Aciklama</p>
      
            @Html.ActionLink("Daha fazla..","Detay",new{id = item.UyeID},new {@class="btn btn-primary btn-sm" })          
        </div>
    </div>
</div>
}