@model IEnumerable<BeuntechSite.Models.Takim>

<section class="container section team-3col">
    <div class="row">

        <header class="sec-heading">
            <h2>TAKIMIMIZ</h2>
            <span class="subheading">YARATICI VE PROFESYONEL ÜYELER</span>
        </header>
        @foreach (var item in Model)
        {



            <!-- Member 1 -->
            <div class="col-lg-4 col-md-6 mb-sm-50">

                <div class="t-item wow fadeIn" data-wow-duration="1s">
                    <!-- Image -->
                    <div class="t-image">
                        <img src="@item.ResimURL" alt="Team Member" class="img-responsive" width="360" height="440">
                        <div class="t-description">
                            <div class="content-wrapper">
                                <h4 class="h-alt">Hello!</h4>
                                <p>@Html.Raw(@item.Aciklama)</p>
                            </div>
                        </div>
                    </div>
                    <!-- Info -->
                    <div class="t-info">
                        <h4 class="t-name">@item.AdSoyad</h4>
                        <span class="t-role">@item.Gorev &amp;</span>
                        <ul class="social-links">
                            <li><a href="http://www.instagram.com/@item.Instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://linkedin.com/@item.LinkedIN"><i class="fa fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div><!-- / .t-item -->

            </div><!-- / .col-md-4 -->

        }

        @*<!-- Member 2 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
            <div class="t-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                <!-- Image -->
                <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                        <div class="content-wrapper">
                            <h4 class="h-alt">Hello!</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- Info -->
                <div class="t-info">
                    <h4 class="t-name">Carol Greene</h4>
                    <span class="t-role">Art Director</span>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div><!-- / .t-item -->
        </div><!-- / .col-md-4 -->
        <!-- Member 3 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
            <div class="t-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
                <!-- Image -->
                <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                        <div class="content-wrapper">
                            <h4 class="h-alt">Hello!</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <!-- Info -->
                <div class="t-info">
                    <h4 class="t-name">Tyler Owens</h4>
                    <span class="t-role">Lead Designer</span>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div><!-- / .t-item -->
        </div><!-- / .col-md-4 -->*@

    </div><!-- / .row -->
</section>
